<h1 class="fw-bold text-center">Shopping List</h1>


<div class="d-flex justify-content-around py-5 h5">
  <p>Amount of food items to buy: <%= @foods.count %></p>
  <p>Total value of food needed: $<%= @foods.map { |food| food.price * food.quantity }.sum.round(2) %></p>
</div>
<div class="d-flex justify-content-center">
  <table class="table table-striped table-hover border w-75">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.quantity %></td>
          <td><%= food.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
