<p style="color: green"><%= notice %></p>

<%= render @recipe %>
<%= form_for  @recipe, url: recipe_path(@recipe) do |f| %>
 
  <div class="toggle-button">
    <%= f.label :public do %>
      <%= f.check_box :public, { checked: @recipe.public} %>
      <span class="slider"></span>
    <% end %>
  </div>
  
<% end %>
<% if can? :create, Food %>
  <%= link_to 'Add New Food', new_food_path %>
<% end %>

<div>

<%= link_to "Back to recipes", recipes_path %>
 
 
</div>
