<%= stylesheet_link_tag 'foods', media: 'all' %>

<div id="<%= dom_id food %>">
<tr>
<td><%= food.name %></td>
<td><%= food.measurement_unit %></td>
<td><%= food.price %></td>
<td><%= food.quantity %></td>
<td>
  <button class="delete-btn btn-hover">Delete</button>
</td>
</tr>
</div>
